*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 600px;
    width: 800px;
    border: 5px solid #000;
    margin-left: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
}

.container > *{
    color: #ffff;
    font-size: 20px;
    text-align: center;
}
 .item1{
    background: red;
    order: 1;
    justify-self: end;
    align-self: self-start;
 }

 .item2{
    background: blue;
 }

 .item3{
    background: yellow;
 }

 .item4{
    background: green;
 }

